* {
    margin: 0;
}

body {
    background-color: bisque;
}

.home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70px;
    background-image: url("https://envato-shoebox-0.imgix.net/0cf0/91b8-58f3-4458-abc3-1762590d4c83/poker-6.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=416ea22a70fcd446bfdb339af3a0b283");
}

.home h1 {
    margin-right: 30%;
    margin-top: 15px;
    color: aqua;
}

.nav-toggle {
    font-size: 2rem;
    color: hsl(225, 81%, 100%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.link-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-align: left;
}

.link-container ul {
    width: 83.74px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    list-style-type: none;
    background-color: dodgerblue;
}

.btn-container p {
    margin-left: 100px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
}

.blackjack-table {
    margin-top: 110px;
    width: 1000px;
    transform: scaleY(-1)
}


.btn-container {
    height: 40px;
    width: 80%;
    margin-left: 350px;
}

.btn {
    text-transform: capitalize;
    background-color: green;
    color: white;
    font-size: 24px;
    margin: 0 15px 0 15px;
    cursor: pointer;
    border-radius: 20%;
    transition: 300ms;
    border: 3px solid white;
}

.fold {
    background-color: red;
}

.btn:hover {
    transform: scale(1.2);
}

.container {
    position: relative;
    margin-left: 15px;
}

.playerDeck1 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 25px;
    left: 440px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}
.playerDeck2 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 25px;
    left: 530px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.shareDeck1 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 260px;
    left: 290px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.shareDeck2 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 260px;
    left: 380px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.shareDeck3 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 260px;
    left: 470px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.shareDeck4 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 260px;
    left: 560px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.shareDeck5 {
    position: absolute;
    background-color: lightcoral;
    height: 100px;
    width: 80px;
    bottom: 260px;
    left: 650px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.compDeck1 {
    position: absolute;
    background-color: black;
    height: 100px;
    width: 80px;
    bottom: 460px;
    left: 420px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.compDeck2 {
    position: absolute;
    background-color: black;
    height: 100px;
    width: 80px;
    bottom: 460px;
    left: 510px;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
}

.money {
    position: relative;
    width: 200px;
    height: 200px;
    left: 150px;
    bottom: 713px;

}

.goal_money {
    background: green;
    width: 200px;
    height: 90px;
    border-radius: 30%;
    border: 5px double blue;
}

.goal_money p {
    text-align: center;
}

#goal {
    font-size: 30px;
    letter-spacing: 5px;
}

#money {
    padding-top: 2px;
    font-size: 34px;
    letter-spacing: 5px;
    color: blanchedalmond;
}

.user_money {
    position: absolute;
    background-color: green;
    width: 200px;
    height: 90px;
    border-radius: 30%;
    border: 5px double blue;
    left: 480px;
    bottom: 100px;
}

.user_money p {
    text-align: center;
}

.user {
    font-size: 30px;
    letter-spacing: 5px;
    color: blue;
}

#user-money {
    padding-top: 2px;
    font-size: 34px;
    letter-spacing: 5px;
    color: blanchedalmond;
}

.pot_money {
    position: absolute;
    margin-top: 20px;
    background-color: green;
    width: 200px;
    height: 90px;
    border-radius: 30%;
    border: 5px double blue;
    left: 240px;
    bottom: 100px;
}

.pot_money p {
    text-align: center;
}

.pot {
    font-size: 30px;
    letter-spacing: 3px;
    color: black;
}

#pot_money {
    padding-top: 2px;
    font-size: 34px;
    letter-spacing: 5px;
    color: blanchedalmond;
}

.hide-box {
    visibility: hide;
}

.deck_bg {
    background-color: lightcoral;
}

.score {
    position:relative;
    left: 20px;
    bottom: 400px;
    font-size: 32px;
    text-transform: capitalize;
}

.compScore > p {
    letter-spacing: 5px;
    color: lightsalmon;
}

.compScore {
    color: lightsalmon;
    margin-top: 5px;
}

.userScore {
    color: blue;
}